body{
    background-color: #DFD3C3;
}

h1{
    color: #85586F;
    font-size: 100px;
    text-align: center;
}

p{
    color: black;
    font-size: larger;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    
    }